<app-navbar></app-navbar>

<!-- Sadrzaj -->

<section>
  <div class="container my-5">
    <header class="mb-4">
      <h2 class="h1-responsive font-weight-bold text-center my-4">Kontaktiraj nas</h2>
      <hr  class="my-3 border-top border-3 mx-auto border-primary">
    </header>

    <div class="row" >
      <!--Grid column-->
      <div class="col-md-7 mb-md-0 mb-5 mx-auto">
        <form id="contact-form" name="contact-form" action="" method="POST">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="name" class="">Vaše ime:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Ukucajte vaše ime">
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="email" class="">Vaš email:</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Ukucajte vaš email">
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label for="subject" class="">Naiziv predmeta</label>
                <input type="text" id="subject" name="subject" class="form-control" placeholder="Ukucajte naziv predmeta">
              </div>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

              <div class="md-form">
                <label for="message">Poruka</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Kako Vam možemo pomoći?"></textarea>
              </div>

            </div>
          </div>
          <!--Grid row-->

        </form>

        <div class="text-center text-md-left">
          <a class="btn w-25 mt-3 btn-primary" href="#">Send</a>
        </div>
        <div class="status"></div>
      </div>
      <!--Grid column-->


    </div>
    <header class="mb-4">
      <hr  class="my-3 border-top border-3 mx-auto border-primary">
      <h3 class="h1-responsive font-weight-bold text-center my-4">Kako nas pronaći</h3>
    </header>

    <div class="row" >
      <!--Grid column-->
      <div class="col-md-7 mb-3 mx-auto text-center" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11604.10848241974!2d17.8095785!3d43.3555433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b439e0c65cb4d%3A0xbd11c66192f5a493!2sFakultet%20informacijskih%20tehnologija%20-%20UNMO!5e0!3m2!1sen!2sba!4v1702494623430!5m2!1sen!2sba" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- Products -->
<!-- Sadrzaj -->

<!-- Footer -->
<app-footer></app-footer>
