<footer class="text-center text-lg-start text-muted bg-primary mt-3">
  <section class="">
    <hr style="color: white;height: 10px;margin-bottom: 0;margin-top: 0">
    <div style="text-align: center;color: white;font-size: large;margin-top: 0;padding-bottom:5px;">
      Aplikacija kreirana 2024. godine za potrebe predmeta "Razvoj softvera 1" na
      <a href="https://www.fit.ba" style="text-decoration: underline;color:white;">Fakultetu informacijskih tehnologija u Mostaru.</a>
      <br>
      Proizvodi na stranici nisu na prodaju već samo služe za prikaz funkcionalnosti stranice.
    </div>
  </section>
</footer>
